body
    font-family: sans-serif
    margin: 0
    padding: 0

nav
    display: flex
    height: 5vw
    width: 100vw
    background-color: #363b47
    justify-content: space-around
    align-items: center

nav
    div
        p
            display: flex
            color: white
            font-size: xx-large
            margin-left: 20%
            align-items: center
            justify-content: center

.ancres-nav
    a
        color: white
        text-decoration: none
        padding-right: 10px
        padding-left: 10px
        padding-top: 10px
        padding-bottom: 10px
        border-radius: 10px

    a:hover
        background-color: #3676bb
    

.background
    display: flex
    background-image: url("../img/bg-header.png")
    height: 25vw
    width: 100vw

.fond-beige
    display: flex
    position: absolute
    background-color:#e8e6e0
    height: 13vw
    width: 100vw

.p-fond-beige
    display: flex
    position: relative
    justify-content: center
    font-size: larger
    margin-left: 28% 
    margin-right: 28% 
    text-align: center
    padding-top: 2.5%

.p2-fond-beige
    display: flex
    position: relative
    justify-content: center
    font-size: larger
    margin-left: 28% 
    margin-right: 28% 
    text-align: center

.mot1
    color: white
    background-color: #26a2cc

.mot2
    color: #28a6cf
    font-weight: 600

.mot3
    color: #343639
    font-weight: 600 