body
    font-family: sans-serif
    margin: 0
    padding: 0

nav
    display: flex
    height: 5vw
    width: 100vw
    background-color: #363b47
    justify-content: space-around
    align-items: center

div
    p
        display: flex
        color: white
        font-size: xx-large
        margin-left: 20%
        align-items: center
        justify-content: center

.ancres-nav
    a
        color: white
        text-decoration: none
        padding-right: 10px
        padding-left: 10px
        padding-top: 10px
        padding-bottom: 10px
        border-radius: 10px

    a:hover
        padding
        background-color: #3676bb
    

